<p id="notice"><%= notice %></p>

<div id="tropical-banner" class=" text-center clearfix">
  <%= image_tag "banner.jpg" %></a>
  <div class="container banner-contents clearfix">
    <h2 class="template-title p-name"><strong>LTRIP</strong></h2>
  </div>
  <div class="breadcrumb-wrapper clearfix">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>" >Home</a></li>
        <li class="active">LTRIP</li>
      </ol>
    </div>
  </div>
  <span class="overlay"></span>
</div>

<section class="tour-page clearfix">
  <div class="container">

    <div class="row">
      <div class="col-md-9 col-sm-8">
        <header class="section-header clearfix">
          <div class="sorting pull-left">
            <select class="form-control" >
              <option>Sort Destination By</option>
              <option>Africa</option>
              <option>Australia</option>
              <option>Asia</option>
              <option>Europe</option>
              <option>North America</option>
              <option>South America</option>
            </select>
          </div>
          <div class="layout-control pull-right clearfix">
            <a data-layout="4" href="#"><i class="fa fa-th"></i></a>
            <a data-layout="12" href="#"><i class="fa fa-th-list"></i></a>
          </div>
        </header>
        <div class="row">
         <% @trips.each do |trip| %>


         <div class="tour-item col-md-4 col-sm-6 animatedParent">
          <article class="tour-post animated fadeInDownShort">
            <header class="tour-post-header clearfix">
              <span class="tour-price pull-left"><%= trip.expected_budget %></span>
              <span class="tour-days pull-right"><i class="fa fa-clock-o"></i>&nbsp; 3 days</span>
            </header>
            <div class="tour-contents clearfix">
              <figure class="tour-feature-img">
                <a href="single-where-we-go.html"> <img src="images/tour-carousel-img-1.jpg" alt="Image"/></a>
              </figure>
              <h5 class="entry-title p-name"><a href="single-where-we-go.html"><%= trip.title %></a></h5>
              <div class="entry-contents hide clearfix">
                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremo emque laudantium, totam rem aperiam, eaqueipsa quae ab illo inventore veritatis et oquasi architecto beatae vitae dicta sunt explicabo. </p>
              </div>
              <%= link_to 'See tour detailsShow', trip , class: "more-details u-url" %>
              <% if user_signed_in? && trip.users.include?(current_user) %>
                <div class="row">
                  <div class="col-md-6" style="margin-left: -7px;"><%= link_to 'Edit', edit_trip_path(trip) , class: "t-btn btn-black-border pull-right" %></div>
                  <div class="col-md-6"><%= link_to 'Destroy',   trip,  class: "t-btn btn-black-border pull-right",method: :delete, data: { confirm: 'Are you sure?' } %></div>
                </div>
              <% end %>
            </div>
        </section>


