<p id="notice"><%= notice %></p>

<div id="tropical-banner" class=" text-center clearfix">
  <%= image_tag "banner.jpg" %></a>
  <div class="container banner-contents clearfix">
    <h2 class="template-title p-name"><strong>LTRIP</strong></h2>
  </div>
  <div class="breadcrumb-wrapper clearfix">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>" >Home</a></li>
        <li class="active">LTRIP</li>
      </ol>
    </div>
  </div>
  <span class="overlay"></span>
</div>

<section class="tour-page clearfix">
  <div class="container">

    <div class="row">
      <div class="col-md-9 col-sm-8">
        <header class="section-header clearfix">
          <div class="layout-control pull-right clearfix">
            <a data-layout="4" href="#"><i class="fa fa-th"></i></a>
            <a data-layout="12" href="#"><i class="fa fa-th-list"></i></a>
          </div>
        </header>
        <div class="row">
         <% @trips.each do |trip| %>


         <div class="tour-item col-md-4 col-sm-6 animatedParent">
          <article class="tour-post animated fadeInDownShort">
            <header class="tour-post-header clearfix">
              <span class="tour-price pull-left"><%= trip.expected_budget %></span>
              <span class="tour-days pull-right"><i class="fa fa-clock-o"></i>&nbsp; <%= time_ago_in_words trip.created_at %></span>
            </header>
            <div class="tour-contents clearfix">
              <figure class="tour-feature-img">
                <%= link_to [trip] do %> 
                  <% if !(trip.photos.empty?) %>
                    <%= image_tag(trip.photos[0].url) %>
                  <% end %>
                <% end %>
              </figure>
              <h5 class="entry-title p-name"><a href="single-where-we-go.html"><%= trip.title %></a></h5>
              <div class="entry-contents hide clearfix">
                <p><%= trip.description %></p>
              </div>
              <div class="row">
                <%= link_to 'See tour detailsShow', trip , class: "more-details u-url" %>
              </div>
              <% if user_signed_in? && trip.users.include?(current_user) %>
                <div class="row">
                 <%= link_to 'Edit', edit_trip_path(trip) , class: "t-btn btn-black-border pull-right" %>
                 <%= link_to 'Destroy',   trip,  class: "t-btn btn-black-border pull-right",method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </div>
          </article>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 animatedParent">
      <section class="advance-tour-filter animated fadeInRightShort clearfix">
        <h5 class="widget-title">filter the result</h5>
        <form method="get" method="get" action="/searchs" >
        <fieldset>
          <h5>destination</h5>
          <input type="text" class="form-control" id="from" name="departure" placeholder="Departure">
        </fieldset>
        <fieldset>
          <div class="input-group input-append date date-picker" >
            <input type="text" class="form-control" name="date" value="Check in Date">
            <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
          </div>
          <div class="input-group input-append date date-picker" >
            <input type="text" class="form-control" name="date" value="Check out Date">
            <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
          </div>
        </fieldset>
        <input class="btn btn-red tour-filter-btn" name="search-tour" type="submit" value="Filter">
        </form>
      </section>            
    </div>
    </div>
  </div>
</section>
<script>
  $.ajax({
    method: 'GET',
    url: '/regions/get_regions',
    success: function (data) {
      var states = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: data.map(function (region) {
          return region.name;
        })
      });
      $('#from').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
          },
          {
            name: 'states',
            source: states
          });
    }
  });
  </script>

