
<div id="tropical-banner" class=" text-center clearfix">
  <%= image_tag('banner.jpg') %>
  <div class="container banner-contents clearfix">
    <h2 class="template-title p-name"><strong><%= @trip.title %></strong></h2>
  </div>
  <div class="breadcrumb-wrapper clearfix">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="<=% root_path %>" >Home</a></li>
        <li><a href="where-we-go.html" >Where We Go</a></li>
        <li class="active"><%= @trip.title %></li>
      </ol>
    </div>
  </div>
  <span class="overlay"></span>
</div>

<section class="tour-single clearfix">
<div class="container">
<div class="row">
  <div class="col-lg-9 col-sm-8">
    <header class="entry-header animatedParent clearfix">
      <h3 class="pull-left tour-single-title animated growIn slower"><%= @trip.title %></h3>
      <span class="tour-price-single t-btn btn-red pull-right animated growIn slower"><%= "#{format_price @trip.budget_trip.total_cost}/#{format_price @trip.expected_budget }"%></span>
    </header>
    <article class="tour-post-single clearfix">
      <div class="tour-single-slider animatedParent clearfix">
        <div class="slier tour-single-slider-for animated fadeInUpShort">
            <% @trip.photos.each do |img| %>
              <div class="item">
                <%= image_tag(img.url) %>
              </div>
            <% end %>
        </div>

        <div class="slider tour-single-slider-nav animated fadeInUpShort">
          <% @trip.photos.each do |img| %>
            <div class="item">
              <%= image_tag(img.url) %>
            </div>
          <% end %>
        </div>
      </div>
      <% unless @trip.video_link.blank? %>
      <div class="video-container">
        <div id="wrapper">  
        <%= YouTubeRails.youtube_embed_url(@trip.video_link, 560, 349).html_safe %>
        </div>
      </div>
      <% end %>

      <div class="tour-single-contents animatedParent clearfix">
        <div class="tour-post-meta pull-right animated fadeInUpShort clearfix">
          <span><i class="fa fa-map-marker"></i><strong>Departure: &nbsp;</strong><%= @trip.departure.name if @trip.departure %></span>
          <span><i class="fa fa-clock-o"></i><strong>Duration : &nbsp;</strong>
            <%= pluralize(@trip.schedules.count, 'day') %></span>
          <span><i class="fa fa-tags"></i><strong>Price : &nbsp;</strong>&#36;<%= format_price @trip.budget_trip.total_cost unless @trip.budget_trip.nil? %></span>
        </div>
        <p> <%= @trip.description.html_safe %></p>
        <footer class="tour-contents-footer clearfix">
          <% if user_signed_in?%>
            <% if @trip.users.include?(current_user) %>
              <%= link_to 'Edit', edit_trip_path(@trip), class: "t-btn btn-red pull-right" %> 
            <% else %>
              <%= link_to ">Booking Now", trip_join_path(trip_id: @trip.id), 
              class: "t-btn btn-red pull-right", method: :post%>
            <% end %>
          <% end %>
          <%= link_to 'Back', trips_path , class: "t-btn btn-black-border pull-right" %>
        </footer>
      </div>
          <div class="tour-single-schedule animatedParent clearfix">
          <% unless @trip.schedules.blank? %>
            <ul class="nav nav-tabs animated fadeInUpShort" role="tablist">
                <% @trip.schedules.each_with_index do |schedule, i| %>
                  <li class="<%= 'active' if i == 0 %>" role="presentation">
                    <a href="#<%= schedule.index %>" id="<%= i+1 %>-tab" role="tab" data-toggle="tab" aria-controls="<%= i+1 %>" aria-expanded="true">DAY-<%= i+1 %></a>
                    <span></span>
                  </li>
                <% end %>
            </ul>
            <div class="tab-content animated fadeInDownShort">
              <% @trip.schedules.each_with_index do |schedule, i| %>
                <div role="tabpanel" class="tab-pane fade clearfix in <%= 'active' if i == 0 %>"  
                   id="<%= schedule.index %>" aria-labelledby="<%= i+1 %>-tab">
                  <div class="contents">
                      <% schedule.schedule_details.each_with_index do |schedule_detail, i| %>
                        <div class="row">
                          <div class="col-md-4">
                             <%= image_tag schedule_detail.image_url , class: "tab-img alignleft" %>
                          </div>
                          <div class="contents col-md-8">
                              <h5 class="p-title"> <%= schedule_detail.place.name unless schedule_detail.place.blank? %></h5>
                              <p>
                                 <strong>Rating:</strong> 
                                  <% if schedule_detail.place.rating %>
                                    <%
                                    i = schedule_detail.place.rating.round
                                    if i == 0
                                    %>
                                        No Rating
                                    <% else
                                        i.times do |x|
                                    %>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <%
                                        end
                                        end %>
                                <% end %>
                              </p>
                              <p>Hour: <%= schedule_detail.hour_spend %></p>
                          </div>
                        </div>
                      <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          </div>
          <h3>Budget details: <strong>
            <%=format_price @trip.budget_trip.blank? ? 0 : @trip.budget_trip.total_cost %>
          </strong> </h3>
          <div class="tour-single-rates animatedParent clearfix">
              <div class="accommodation animated fadeInUpShort clearfix">
                <ul class="clearfix">
                  <li>
                    <strong>To buy</strong><span class="circle-icon"></span>
                  </li>
                  <li>
                    <strong>Cost</strong><span class="circle-icon"></span>
                  </li>
                </ul>
              <% unless @trip.budget_trip.blank? %>
                <% @trip.budget_trip.budgets.each do |budget|%>
                  <ul class="clearfix">
                    <li><%=budget.name %></li>
                    <li><strong><%= format_price(budget.price) %></strong> </li>
                  </ul>
                <% end %>
              <% end %>
            </div>
          </div>
        </article>
        <div class="related-tours clearfix">
          <header class="header-with-nav animatedParent clearfix">
            <h3 class="title pull-left animated growIn slower">Related Tours</h3>
            <%= link_to "See all tours", trips_path, class: "pull-right animated growIn slower" %>
          </header>
          <div class="row">
          <% if @relative_trips.present? %>
            <% @relative_trips.each do |trip|%>
              <div class="col-md-4 col-xs-6 animatedParent">
                <article class="tour-post animated fadeInLeftShort">
                  <header class="tour-post-header clearfix">
                    <span class="tour-price pull-left">&#36;
                      <%= format_price(trip.expected_budget) %></span>
                    <span class="tour-days pull-right"><i class="fa fa-clock-o"></i>&nbsp; <%= trip.schedules.count %>day</span>
                  </header>
                  <div class="tour-contents clearfix">
                    <figure class="tour-feature-img">
                      <%= image_tag @trip.photos.first unless @trip.photos.blank? %>
                    </figure>
                    <h5 class="entry-title p-name"><%= trip.title %></h5>
                    <%= link_to trip do %>
                      See tour details
                      <i class="dashicons dashicons-arrow-right-alt2"></i>
                    <% end %>
                </article>
              </div>
            <% end %>
          <% else %>
            <p>None relative trips </p>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4">
          <%= render 'right' %>
      </div>
    </div>
  </div>
</section>




