
<div id="tropical-banner" class=" text-center clearfix">
  <%= image_tag('banner.jpg') %>
  <div class="container banner-contents clearfix">
    <h2 class="template-title p-name"><strong><%= @trip.title %></strong></h2>
  </div>
  <div class="breadcrumb-wrapper clearfix">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="<=% root_path %>" >Home</a></li>
        <li><a href="where-we-go.html" >Where We Go</a></li>
        <li class="active"><%= @trip.title %></li>
      </ol>
    </div>
  </div>
  <span class="overlay"></span>
</div>

<section class="tour-single clearfix">
  <div class="container">
<div class="row">
  <div class="col-lg-9 col-sm-8">
    <header class="entry-header animatedParent clearfix">
      <h3 class="pull-left tour-single-title animated growIn slower"><%= @trip.title %></h3>
      <span class="tour-price-single t-btn btn-red pull-right animated growIn slower"><%= "#{format_price @trip.budget_trip.total_cost}/#{format_price @trip.expected_budget }"%></span>
     
    </header>
    <article class="tour-post-single clearfix">
      <div class="tour-single-slider animatedParent clearfix">
        <div class="slier tour-single-slider-for animated fadeInUpShort">
            <% @trip.photos.each do |img| %>
              <div class="item">
                <%= image_tag(img.url) %>
              </div>
            <% end %>
        </div>

        <div class="slider tour-single-slider-nav animated fadeInUpShort">
          <% @trip.photos.each do |img| %>
            <div class="item">
              <%= image_tag(img.url) %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tour-single-contents animatedParent clearfix">
        <div class="tour-post-meta pull-right animated fadeInUpShort clearfix">
          <span><i class="fa fa-map-marker"></i><strong>Departure: &nbsp;</strong><%= @trip.departure.name %></span>
          <span><i class="fa fa-clock-o"></i><strong>Duration : &nbsp;</strong>
            <%= pluralize(@trip.schedules.count, 'day') %></span>
          <span><i class="fa fa-tags"></i><strong>Price : &nbsp;</strong>&#36;<%= format_price @trip.budget_trip.total_cost %></span>
        </div>
        <p> <%= truncate(@trip.description, :length => 50, :separator => ' ') %></p>
        <footer class="tour-contents-footer clearfix">
          <% if user_signed_in?%>
            <% if @trip.users.include?(current_user) %>
              <%= link_to 'Edit', edit_trip_path(@trip), class: "t-btn btn-red pull-right" %> 
            <% else %>
              <%= link_to ">Booking Now", trip_join_path(trip_id: @trip.id), 
              class: "t-btn btn-red pull-right", method: :post%>
            <% end %>
          <% end %>
          <%= link_to 'Back', trips_path , class: "t-btn btn-black-border pull-right" %>
          <a class="t-btn btn-black-border pull-right" href="#" data-toggle="modal" data-target="#ask-q-popup">Ask Question</a>
        </footer>
      </div>
          <div class="tour-single-schedule animatedParent clearfix">
          <% unless @trip.schedules.blank? %>
            <ul class="nav nav-tabs animated fadeInUpShort" role="tablist">
                <% @trip.schedules.each_with_index do |schedule, i| %>
                  <li role="presentation">
                    <a href="#<%= schedule.index %>" id="<%= i+1 %>-tab" role="tab" data-toggle="tab" aria-controls="<%= i+1 %>" aria-expanded="true">DAY-<%= i+1 %></a>
                    <span></span>
                  </li>
                <% end %>
            </ul>
            <div class="tab-content animated fadeInDownShort">
              <% @trip.schedules.each_with_index do |schedule, i| %>
                <div role="tabpanel" class="tab-pane fade clearfix in"  
                   id="<%= schedule.index %>" aria-labelledby="<%= i+1 %>-tab">
                  <div class="contents">
                    <ul>
                      <% schedule.schedule_details.each do |schedule_detail| %>
                        <li>
                          <%= image_tag schedule_detail.image_url %>
                          <%= schedule_detail.place.name unless schedule_detail.place.blank? %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          </div>
          <h3>Budget details: <strong>
            <%=format_price @trip.budget_trip.blank? ? 0 : @trip.budget_trip.total_cost %>
          </strong> </h3>
          <div class="tour-single-rates animatedParent clearfix">
              <div class="accommodation animated fadeInUpShort clearfix">
                <ul class="clearfix">
                  <li>
                    <strong>To buy</strong><span class="circle-icon"></span>
                  </li>
                  <li>
                    <strong>Cost</strong><span class="circle-icon"></span>
                  </li>
                </ul>
              <% unless @trip.budget_trip.blank? %>
                <% @trip.budget_trip.budgets.each do |budget|%>
                  <ul class="clearfix">
                    <li><%=budget.name %></li>
                    <li><strong><%= format_price(budget.price) %></strong> </li>
                  </ul>
                <% end %>
              <% end %>
            </div>
          </div>
        </article>
        <div class="related-tours clearfix">
          <header class="header-with-nav animatedParent clearfix">
            <h3 class="title pull-left animated growIn slower">Related Tours</h3>
            <%= link_to "See all tours", trips_path, class: "pull-right animated growIn slower" %>
          </header>
          <div class="row">
          <% if @relative_trips.present? %>
            <% @relative_trips.each do |trip|%>
              <div class="col-md-4 col-xs-6 animatedParent">
                <article class="tour-post animated fadeInLeftShort">
                  <header class="tour-post-header clearfix">
                    <span class="tour-price pull-left">&#36;
                      <%= format_price(trip.expected_budget) %></span>
                    <span class="tour-days pull-right"><i class="fa fa-clock-o"></i>&nbsp; <%= trip.schedules.count %>day</span>
                  </header>
                  <div class="tour-contents clearfix">
                    <figure class="tour-feature-img">
                      <%= image_tag @trip.photos.first unless @trip.photos.blank? %>
                    </figure>
                    <h5 class="entry-title p-name"><%= trip.title %></h5>
                    <%= link_to trip do %>
                      See tour details
                      <i class="dashicons dashicons-arrow-right-alt2"></i>
                    <% end %>
                    <!-- <a class="more-details u-url" href="#">See tour details <i class="dashicons dashicons-arrow-right-alt2"></i></a> -->
                </article>
              </div>
            <% end %>
          <% else %>
            <p>None relative trips </p>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4">
        <aside class="sidebar">
          <section class="search-widget animatedParent">
            <h5 class="hidden animated fadeInDownShort">Title</h5>
            <div class="search animated fadeInUpShort clearfix">
              <form method="get" class="search-form" action="#">
                <div>
                  <input type="text" placeholder="Search Category" name="s" class="search-text">
                  <input type="submit" class="search-submit" value="">
                  <i class="fa fa-search"></i>
                </div>
              </form>
            </div>
          </section>
          <section class="widget recent-post-widget animatedParent">
            <h5 class="widget-title animated fadeInDownShort">Members list</h5>
            <div class="members-list">
              <% @trip.users.each do |user| %>
                <div class="chip">
                  <%= user.email %>
                </div>
              <% end %>
            </div>
            <hr>
            <% if user_signed_in? && @trip.users.include?(current_user) %>
              <div class="invite-form">
                <%= simple_form_for :trips, url: trip_invite_path(id: @trip.id),
                html: { autocomplete: "off" } do |f| %>
                <div class="row">
                  <%= f.input :email, collection: @user_emails, include_blank: false %>
                  <%= f.submit "Invite", class: "btn btn-primary" %>
                </div>
                <% end %>
              </div>
            <% end %>
          </section>
          <section class="widget widget-text animatedParent">
            <h5 class="widget-title animated fadeInDownShort">LTRIP</h5>
            <p class="animated fadeInUpShort">  We are team 6 </p>
          </section>
          <section class="widget contact-widget clearfix animatedParent">
            <h5 class="widget-title animated fadeInDownShort">Contact us</h5>
            <address class="animated fadeInUpShort">
              <strong> Address:</strong> 123 East West Corner Road,
              Melborne-606
              Australia.
            </address>
            <p class="phone-number animated fadeInUpShort"><strong>Phone:</strong>+61 0123 456 789</p>
            <p class="email animated fadeInUpShort"><strong>Email:</strong> info@example.com </p>
            <ul class="social-nav text-center clearfix animated fadeInUpShort">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </section>
        </aside>
      </div>
    </div>
  </div>
</section>




