<div class="container gallary-container">

	<div class="video-container">
		<div id="wrapper">  
		<%= YouTubeRails.youtube_embed_url("https://www.youtube.com/watch?v=0yE4wEi8CFM", 560, 349).html_safe %>
		</div>
	</div>

	
	<div class="upload-gallery row">
		<% @trip.photos.each do |img| %>
			<div class="col-md-6">
				<a href="<%= img.url %>" title="photo" data-gallery>
					<%= image_tag(img.url) %>
	    	</a>
			</div>
				
		<% end %>
	</div>

	<div class="row">
		<%= form_for @trip, :url => trips_add_photos_path(@trip), :method => :post, :html => { :class => "", :id => "" } do |f| %>
			<%=  f.file_field :new_photos, multiple: true %> 
			<%= f.submit "Upload", class: "btn btn-primary"%>
		<% end %>
	</div>
  
</div>
