<div class="container gallary-container">

	<% unless @trip.video_link.empty? %>
      <div class="video-container">
        <div id="wrapper">  
        <%= YouTubeRails.youtube_embed_url(@trip.video_link, 560, 349).html_safe %>
        </div>
      </div>
      <% end %>
	</div>

	
	<div class="upload-gallery row">
		<% @trip.photos.each do |img| %>
			<div class="col-md-6">
				<a href="<%= img.url %>" title="photo" data-gallery>
					<%= image_tag(img.url) %>
	    	</a>
			</div>
				
		<% end %>
	</div>

	<% if (user_signed_in?) && (@trip.users.include?(current_user)) %>
	<div class="row">
		<div>Add more photos</div>
		<div>
			<%= form_for @trip, :url => trips_add_photos_path(@trip), :method => :post, :html => { :class => "", :id => "" } do |f| %>
				<%=  f.file_field :new_photos, multiple: true %> 
				<%= f.submit "Upload", class: "btn btn-primary"%>
			<% end %>
		</div>
	
	</div>
  <% end %>
</div>
