<div class="container">
<% if @user.provider %>
  <%= image_tag @user.image.url.gsub(/\A.+?image\/\w.+?\//, "").gsub(/\%3A/,":")%>
<% else %>
  <%= image_tag @user.image if @user.image %>
<% end %>
<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Phone number:</strong> <%= @user.phone_number %></p>

</div>