<li class="<%= schedule.index == 1 %>" id="li-day<%= schedule.index %>">
  <a href="#day<%= schedule.index %>" data-toggle="tab" id="li_tab<%= schedule.index %>">
    Day <%= schedule.index %>
  </a>
</li>