<li class="<%= schedule.default_active %>" id="li-day<%= schedule.index %>">
  <a href="#day<%= schedule.index %>" data-toggle="tab" id="li_tab<%= schedule.index %>">
    <%= schedule.title %>
  </a>
</li>