<div class="tab-pane fade in <%= schedule.index == 1 && 'active' %> days-tab" id="day<%= schedule.index %>">
  <!-- Schedule Detail -->
  <div class="col-md-3">
    <div class="schedule-form">
      <div class="schedule-content" style="margin-top: 24px">
        <div id="schedule_<%= schedule.index %>" class="schedule">
          <ul class="sortable" id="sortable_<%= schedule.index %>">
            <%= render schedule.schedule_details %>
          </ul>

          <!-- Add button -->
          <button type="button" class="btn hot-action-button" id="addAttractionItineraryBtn" data-toggle="modal"
                  data-target="#add-to-itinerary-form_<%= schedule.index %>">
            Add Attraction
          </button>

          <!-- Delete button -->
          <%= link_to [@trip, schedule], class: 'btn delete-day-btn',
                      id: 'deleteDayBtn', remote: true, method: :delete do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Schedule Detail
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Map -->
  <div class="col-md-9">
    <div id="map<%= schedule.index %>" style="width: 100%; height: 400px"></div>
  </div>

  <!-- Schedule Detail Form -->
  <div class="modal fade add-to-itinerary-form" id="add-to-itinerary-form_<%= schedule.index %>" tabindex="-1"
       role="dialog" aria-labelledby="addToItineraryFormLabel"
       aria-hidden="true" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2 class="modal-title" id="addToItineraryFormLabel">Add Attraction to Itinerary</h2>
        </div>
        <%= form_tag schedule_schedule_details_path(schedule), remote: true, method: :post,
                     class: 'form-horizontal form-schedule form-card',
                     id: "form-schedule_#{schedule.index}" do %>

            <!-- Where to go to -->
            <div class="form-group">
              <label for="schedule_detail_<%= schedule.index %>" class="form-control-label">
                Tourist Attraction:
              </label>
              <input class="typeahead form-control" type="text" placeholder="Where you love to visit"
                     id="schedule_detail_<%= schedule.index %>" autofocus>
              <input type="hidden" name="schedule_detail[place_id]" id="place_<%= schedule.index %>" value="">
            </div>

            <!-- Spending hours -->
            <div class="form-group">
              <label for="spendingTime_<%= schedule.index %>" class="form-control-label">
                Hours spending:
              </label>
              <select class="form-control" name="schedule_detail[hour_spend]" id="spendingTime_<%= schedule.index %>">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <!-- Submit button -->
            <div class="form-group">
              <button type="submit" class="btn addItineraryBtn" id="add_itinerary_btn">Add to Schedules</button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  // Map
  <%= render 'schedules/map', schedule: schedule %>
  // Typehead
  $('#attraction_<%= schedule.index %>').bind('typeahead:select', function (ev, suggestion) {
    $("#place_<%= schedule.index %>").val(suggestion.id);
  });
  $('#attraction_<%= schedule_day.index %>').typeahead(
      {
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: 'states',
        limit: 50,
        source: placeEngine,
        display: 'name',
        templates: {
          suggestion: Handlebars.compile("" +
              "<div class='dropdown-suggestion'>" +
              "<div class='dropdown-suggestion-image'>" +
              "<image src='{{display_image_url}}' width='50' height='50' class='img-circle'/>" +
              "</div><div class='dropdown-suggestion-name'>{{suggest_title}}</div></div>")
        }
      }
  );

  });
</script>