<div class="main-slider-wrap">
  <div class="main-slider">
    <div class="item">
      
      <%= image_tag "slide1.jpg" %>
      <div class="slide-details clearfix">
        <h3 class="title"><span>Have adventure trip with</span><span> LTRIP </span></h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide2.jpg" %>
      <div class="slide-details clearfix">
        <h3 class="title"><span>Have adventure trip with</span><span> LTRIP </span></h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide3.jpg" %>
      <div class="slide-details clearfix">
        <h3 class="title"><span>Have adventure trip with</span><span> LTRIP </span></h3>
      </div>
    </div>
  </div>

<%= render 'system/search' %>
</div>
<%= render 'system/slider' %>