<header id="masthead" class="site-header" role="banner">
  <div class="site-header-head clearfix">
    <div class="container header-user h-card">
      <% if signed_in? %>
        <div class="header-user-name pull-left">
          <span class="p-name"><%= current_user.email %> </span>
          <% if current_user.image  %>
            <%= image_tag current_user.image_url, style: "width: 20px; height: 20px;" %>
          <% else %>
            <i class="fa fa-user"></i>
          <% end %>
        </div>
      <% end %>
      <div class="header-tour-package pull-right">
        <span>TOUR PACKAGE</span>
        <i class="fa fa-bars"></i>
        <section class="header-tour-listing clearfix" style="display: none;">
            <ul class="sub-menu" style="padding-top: 61px">
              <li><%= link_to "Trips available", trips_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to('My Account', current_user) %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                <li><%= link_to "Create trip", new_trip_path %></li>
              <% else %>
                <li><%= link_to('Sign in', new_user_session_path) %></li>
                <li><%= link_to('Sign up', new_user_registration_path) %></li>
              <% end %>
            </ul>
        </section>
      </div>
      <div class="header-user-tel pull-right">
        <i class="fa fa-mobile-phone fa-lg"></i>
        <span class="tel">+0947706796</span>
      </div>

      <div class="header-user-email pull-right">
        <i class="fa fa-envelope-o"></i>
        <a class="u-url" href="mailto:info@example.com" >huycuong0610@gmail.COM</a>
      </div>
    </div>
  </div>
  <div class="site-branding">
    <div class="container">
      <h1 class="site-title pull-left">
        <a href="<%= root_path %>" rel="home">
          <%= image_tag "logo.png" %>
        </a>
      </h1>
      <div class="header-search pull-right clearfix">
        <i class="fa fa-search"></i>
        <div class="search clearfix">
          <form method="get"  class="search-form" action="<%= searchs_path %>">
            <div>
              <input type="text" placeholder="Search" name="departure" class="search-text" >
              <input type="submit" class="search-submit" value="" >
            </div>
          </form>
        </div>
      </div>
      <nav class="main-nav pull-right" role="navigation">
        <div class="menu-primary-menu-container">
          <ul id="menu-primary-menu" class="main-menu">
            <li>
              <%= link_to "Home", root_path %>
            </li>
            <li class="mega-menu-nav">
              <%= link_to "Where we go", trips_path %>
            </li>
            <li>
            
            <a href="../home/about">About us</a></li>
          </ul>
        </div>
      </nav>
    </div><!-- .container -->
  </div><!-- .site-branding -->
</header><!-- .site-header -->