
<section class="home-services section-separator animatedParent">
  <div class="container">
    <header class="section-header header-with-nav clearfix">
      <h3 class="title pull-left animated growIn slower">awesome tour features</h3>
      <a class="pull-right animated growIn slower" href="#">SEE ALL</a>
    </header>
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <article class="service-var-1 animated fadeInRightShort">
          <div class="wrapper text-center clearfix">
            <figure class="feature-img clearfix">
              <a class=" u-url u-photo" href="#">
                <%= image_tag "https://static.mytour.vn/upload_images/Image/Quang%20Dia%20Danh/7/Th%C3%A1p_R%C3%B9a_6.jpg" %></a>
                <span class="overlay"></span>
                <p>As a capital of the Social Republic of Vietnam, Hanoi is also a crucial center of culture, politics, trade, and tourism all over the country. Experiencing almost a thousand year of history, Hanoi is going to celebrate its important ceremony in October 2010 (1000 years).</p>
                </figure>
                <span class="icon-wrapper">
                  <span class="icon">
                    <i class="fa fa-hospital-o"></i>
                  </span>
                </span>
              </div>
              <div class="contents clearfix">
                <h5 class="entry-title p-name">Ha Noi</h5>
                <%= link_to "Trips trip in Ha Noi", '/searchs?departure=Hà+Nội', 
                      class: "t-btn btn-red" %>
              </div>
            </article>
          </div>
          <div class="col-sm-4 col-xs-6">
            <article class="service-var-1 animated fadeInUpShort">
              <div class="wrapper text-center clearfix">
                <figure class="feature-img clearfix">
                  <a class=" u-url u-photo" href="#">
                    <%= image_tag "http://www.vietnamstay.com/Content/images/DestinationTopcities/Vietnam/DaNang/dragon-bridge-da-nang.jpg" %></a>
                    <span class="overlay"></span>
                    <p>The city is a combination of the buzz of a bigger city with beautiful beaches and great restaurants. Tree-lined boulevards, bridges, and beachside resorts are now attracting more and more attention of travelers near and far.</p>
                    </figure>
                    <span class="icon-wrapper">
                      <span class="icon">
                        <i class="fa fa-shield"></i>
                      </span>
                    </span>
                  </div>
                  <div class="contents clearfix">
                    <h5 class="entry-title p-name">Da Nang</h5>
                    <%= link_to "Trips in Da Nang", 
                      '/searchs?departure=Đà+Nẵng', class: "t-btn btn-red" %>
                  </div>
                </article>
              </div>
              <div class="col-sm-4 col-xs-6">
                <article class="service-var-1 animated fadeInLeftShort">
                  <div class="wrapper text-center clearfix">
                    <figure class="feature-img clearfix">
                      <a class=" u-url u-photo" href="#">
                        <%= image_tag "https://www.vietvisiontravel.com/blog/wp-content/uploads/2014/08/Ben-Thanh-market-in-Ho-Chi-Minh-city-Vietnam.jpg" %></a>
                        <span class="overlay"></span>
                        <p>Ho Chi Minh City (Saigon) is Vietnam’s commercial headquarters brash and busy with a keen sense of its own importance as Vietnam emerges from years of austerity to claim a place in the “Asian Tiger” economic slugfest.</p>
                        </figure>
                        <span class="icon-wrapper">
                          <span class="icon">
                           <i class="fa fa-money"></i>
                         </span>
                       </span>
                     </div>
                     <div class="contents clearfix">
                      <h5 class="entry-title p-name">Ho Chi Minh City</h5>
                      <%= link_to "Trips in Ho Chi Minh City", 'searchs?departure=Hồ+Chí+Minh', 
                      class: "t-btn btn-red" %>
                    </div>
                  </article>
                </div>
              </div>
            </div>    </section>
          
             <section class="home-special-offers animatedParent clearfix">
          <div class="container">
            <header class="section-header header-with-nav clearfix">
              <h3 class="title pull-left animated growIn">Latest Offers Tours</h3>
              <a class="pull-right animated growIn" href="#">see more offers</a>
            </header>
            <div class="tour-carousel animated flipInX clearfix">
             <% @trips.each do |trip| %>
              <article class="tour-post">
                <i class="circle-icon"></i>
                <header class="tour-post-header clearfix">
                  <span class="tour-price pull-left"><%= trip.expected_budget %></span>
                  <span class="tour-price-off pull-right">New</span>
                </header>
                <div class="tour-contents clearfix">
                  <figure class="tour-feature-img">
                   <%= link_to [trip] do %> 
                    <% if !(trip.photos.empty?) %>
                        <%= image_tag(trip.photos[0].url) %>
                    <% end %>
                    <% end %>
                  </figure>
                  <h5 class="entry-title p-name"><%= trip.title %></h5>
                   <%= link_to 'See tour detailsShow', trip , class: "more-details u-url" %>
                </div>
              </article>
              <% end %>
          </div>
        </div>
      </section>