<%= link_to schedule_detail.place do %>
    <li class="day_detail" id="day-detail_<%= schedule_detail.index %>">
     
      <input type="hidden" id="schedule_detail_index" value="<%= schedule_detail.index %>">
      <div class="day-place-detail">
        <div class="col-img"><%= image_tag (schedule_detail.image_url(50))%></div>

        <div class="day-place-detail-middle col-name">
          <p class="day-place-name"><%= schedule_detail.place.name %></p>
          <h3 class="tag"><%= schedule_detail.hour_spend %> HOURs</h3>
          
             <% if schedule_detail.index != 1 %>
              <div class="transport-time">
                  <div class="day-transfer"><i class="fa fa-hdd-o" aria-hidden="true"></i><%= schedule_detail.distance %> &nbsp;/&nbsp; <i class="fa fa-clock-o" aria-hidden="true"></i><%= schedule_detail.duration %></div>
                </div>
                 <div class="transport-time">
                  <div class="day-transfer">
                  <i class="fa fa-sun-o" aria-hidden="true"></i>Morning: <%= schedule_detail.tempday %> &nbsp;/&nbsp; 
                  <i class="fa fa-clock-o" aria-hidden="true"></i>Afternoon: <%= schedule_detail.tempeve %>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>Evening: <%= schedule_detail.tempeve %>
                  <br/>
                   <i class="fa fa-sun-o" aria-hidden="true"></i><%= schedule_detail.tempmain %> &nbsp;/&nbsp; 
                  <i class="fa fa-clock-o" aria-hidden="true"></i> <%= schedule_detail.tempdesc  %>
                  </div>
                </div>
            <% end %>
        </div>

        <div class="pull-right remove-itinerary col-remove">

 <%= link_to schedule_schedule_detail_path(schedule_detail.schedule_id, schedule_detail),
                      id: "remove-itinerary_#{schedule_detail.index}", rel: "day-detail_#{schedule_detail.index}",
                      remote: true, method: :delete do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </div>
      </div>
    </li>

<% end %>
