<!DOCTYPE html>
<html>
<head>
  <title>Ltrip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>

</head>

<body>
  <div id="page" class="hfeed site">
    <%= render 'system/navbar' %>
    <%= render 'system/login_user_menu' %>
    <%= render 'system/error' %>
    <div id="content" class="site-content"><%= yield %></div>
    <%= render 'system/footer' %>
  </div>
</body>
</html>
