<!DOCTYPE html>
<html>
<head>
  <title>Let Trip</title>
  <link rel="icon" href="<%= image_path 'logo.png' %>">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>"></script>
  <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "slick" %>
  <%= stylesheet_link_tag "slicknav" %>
</head>
<body>

<!-- FLASH -->
<%= render 'system/error' %>
<div id="page" class="hfeed site">

        <!-- NAV BAR -->
      <%= render 'system/navbar' %>

    <!-- MAIN ACTION -->
    <%= yield %>

</body>
</html>